@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  @apply bg-beige;
}

::selection {
  background: #ffbc5d;
}


h1, h2, h3, h4 {
  font-family: 'Libre Baskerville', 'serif';
}

.baskerville {
    font-family: 'Libre Baskerville', 'serif';
}

h1 {
  @apply text-2xl;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.flow > * + * {
  margin-top: 1.5rem;
}
